In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("datasets/Adult/adult.csv")

In [4]:
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
first_row = df.columns

In [16]:
headers = ['age',
           'workclass',
           'fnlwgt',
           'education',
           'education-num',
           'marital-status',
           'occupation',
           'relationship',
           'race',
           'sex',
           'capital-gain', 
           'capital-loss',
           'hours-per-week',
           'native-country',
           '<=50K'
          ]

In [17]:
df.columns = headers

In [18]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [19]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32560.000000,3.256000e+04,32560.000000,32560.000000,32560.000000,32560.000000
mean,38.581634,1.897818e+05,10.080590,1077.615172,87.306511,40.437469
std,13.640642,1.055498e+05,2.572709,7385.402999,402.966116,12.347618
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178315e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783630e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370545e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [20]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
<=50K             0
dtype: int64

<h3>1. Create data subsets for different Country, Sex, Race</h3>

<h4>Country</h4>

In [35]:
df = df[df['native-country'] != ' ?']

In [68]:
countries = df['native-country'].unique()
countries

array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [70]:
country_dfs = []

for country in countries:
    country_dfs.append(df[df['native-country'] == country])

In [76]:
country_dfs_dict = dict(zip(countries, country_dfs))
country_dfs_dict

{' United-States':        age          workclass  fnlwgt    education  education-num  \
 0       50   Self-emp-not-inc   83311    Bachelors             13
 1       38            Private  215646      HS-grad              9
 2       53            Private  234721         11th              7
 4       37            Private  284582      Masters             14
 6       52   Self-emp-not-inc  209642      HS-grad              9
 ...    ...                ...     ...          ...            ...
 32555   27            Private  257302   Assoc-acdm             12
 32556   40            Private  154374      HS-grad              9
 32557   58            Private  151910      HS-grad              9
 32558   22            Private  201490      HS-grad              9
 32559   52       Self-emp-inc  287927      HS-grad              9

             marital-status          occupation    relationship    race  \
 0       Married-civ-spouse     Exec-managerial         Husband   White
 1                 Divorced   Handlers-cleaners   Not-in-family   White
 2       Married-civ-spouse   Handlers-cleaners         Husband   Black
 4       Married-civ-spouse     Exec-managerial            Wife   White
 6       Married-civ-spouse     Exec-managerial         Husband   White
 ...                    ...                 ...             ...     ...
 32555   Married-civ-spouse        Tech-support            Wife   White
 32556   Married-civ-spouse   Machine-op-inspct         Husband   White
 32557              Widowed        Adm-clerical       Unmarried   White
 32558        Never-married        Adm-clerical       Own-child   White
 32559   Married-civ-spouse     Exec-managerial            Wife   White

            sex  capital-gain  capital-loss  hours-per-week  native-country  \
 0         Male             0             0              13   United-States
 1         Male             0             0              40   United-States
 2         Male             0             0              40   United-States
 4       Female             0             0              40   United-States
 6         Male             0             0              45   United-States
 ...        ...           ...           ...             ...             ...
 32555   Female             0             0              38   United-States
 32556     Male             0             0              40   United-States
 32557   Female             0             0              40   United-States
 32558     Male             0             0              20   United-States
 32559   Female         15024             0              40   United-States

         <=50K
 0       <=50K
 1       <=50K
 2       <=50K
 4       <=50K
 6        >50K
 ...       ...
 32555   <=50K
 32556    >50K
 32557   <=50K
 32558   <=50K
 32559    >50K

 [29169 rows x 15 columns],
 ' Cuba':        age          workclass  fnlwgt   education  education-num  \
 3       28            Private  338409   Bachelors             13
 80      52            Private  276515   Bachelors             13
 637     47       Self-emp-inc  248145     5th-6th              3
 700     31            Private  243605   Bachelors             13
 1236    41   Self-emp-not-inc  209344     HS-grad              9
 ...    ...                ...     ...         ...            ...
 30840   37            Private  238433     1st-4th              2
 30891   52            Private  222646        12th              8
 30905   39   Self-emp-not-inc  251323         9th              5
 31148   52       Self-emp-inc  230767   Bachelors             13
 31906   48            Private  379883     Masters             14

             marital-status          occupation     relationship    race  \
 3       Married-civ-spouse      Prof-specialty             Wife   Black
 80      Married-civ-spouse       Other-service          Husband   White
 637     Married-civ-spouse    Transport-moving          Husband   White
 700                Widowed               Sales        Unmarried   White
 1236    Married-civ-spouse               Sales   Other-relative   White
 ...                    ...                 ...              ...     ...
 30840   Married-civ-spouse    Transport-moving          Husband   White
 30891            Separated   Machine-op-inspct   Other-relative   White
 30905   Married-civ-spouse     Farming-fishing   Other-relative   White
 31148   Married-civ-spouse     Exec-managerial          Husband   White
 31906   Married-civ-spouse      Prof-specialty          Husband   White

            sex  capital-gain  capital-loss  hours-per-week native-country  \
 3       Female             0             0              40           Cuba
 80        Male             0             0              40           Cuba
 637       Male             0             0              50           Cuba
 700     Female             0          1380              40           Cuba
 1236    Female             0             0              40           Cuba
 ...        ...           ...           ...             ...            ...
 30840     Male             0             0              40           Cuba
 30891   Female             0             0              40           Cuba
 30905     Male             0             0              40           Cuba
 31148     Male             0          1902              60           Cuba
 31906     Male             0             0              40           Cuba

         <=50K
 3       <=50K
 80      <=50K
 637     <=50K
 700     <=50K
 1236    <=50K
 ...       ...
 30840   <=50K
 30891   <=50K
 30905   <=50K
 31148    >50K
 31906    >50K

 [95 rows x 15 columns],
 ' Jamaica':        age workclass  fnlwgt      education  education-num  \
 5       49   Private  160187            9th              5
 705     40   Private  229148           12th              8
 1134    31   Private  184307   Some-college             10
 1569    19         ?   62534      Bachelors             13
 2005    57   Private  185072   Some-college             10
 ...    ...       ...     ...            ...            ...
 30862   46   Private  169324        HS-grad              9
 31032   55   Private  132887        HS-grad              9
 31037   33   Private  202642      Bachelors             13
 31953   34   Private  111589           10th              6
 32228   22   Private  254547   Some-college             10

                marital-status         occupation     relationship    race  \
 5       Married-spouse-absent      Other-service    Not-in-family   Black
 705        Married-civ-spouse      Other-service          Husband   Black
 1134       Married-civ-spouse    Exec-managerial          Husband   White
 1569            Never-married                  ?        Own-child   Black
 2005            Never-married       Adm-clerical   Other-relative   Black
 ...                       ...                ...              ...     ...
 30862               Separated      Other-service    Not-in-family   Black
 31032      Married-civ-spouse   Transport-moving          Husband   Black
 31037               Separated     Prof-specialty   Other-relative   Black
 31953           Never-married      Other-service        Unmarried   Black
 32228           Never-married    Exec-managerial        Unmarried   Black

            sex  capital-gain  capital-loss  hours-per-week native-country  \
 5       Female             0             0              16        Jamaica
 705       Male             0             0              40        Jamaica
 1134      Male             0             0              50        Jamaica
 1569    Female             0             0              40        Jamaica
 2005    Female             0             0              40        Jamaica
 ...        ...           ...           ...             ...            ...
 30862   Female             0             0              45        Jamaica
 31032     Male          3411             0              40        Jamaica
 31037   Female             0             0              40        Jamaica
 31953   Female             0             0              40        Jamaica
 32228   Female             0             0              40        Jamaica

         <=50K
 5       <=50K
 705     <=50K
 1134     >50K
 1569    <=50K
 2005    <=50K
 ...       ...
 30862   <=50K
 31032   <=50K
 31037   <=50K
 31953   <=50K
 32228   <=50K

 [81 rows x 15 columns],
 ' India':        age          workclass  fnlwgt    education  education-num  \
 10      30          State-gov  141297    Bachelors             13
 891     28            Private  164170    Assoc-voc             11
 967     48            Private  164966    Bachelors             13
 1028    48       Self-emp-inc  138370      Masters             14
 1094    22   Self-emp-not-inc  361280    Bachelors             13
 ...    ...                ...     ...          ...            ...
 30151   48            Private  119471    Doctorate             16
 30832   25            Private  110978   Assoc-acdm             12
 30870   26            Private  160261      Masters             14
 31326   38          State-gov  125499    Bachelors             13
 31356   23            Private  143003      Masters             14

                marital-status        occupation    relationship  \
 10         Married-civ-spouse    Prof-specialty         Husband
 891        Married-civ-spouse      Adm-clerical            Wife
 967        Married-civ-spouse   Exec-managerial         Husband
 1028    Married-spouse-absent             Sales   Not-in-family
 1094            Never-married    Prof-specialty       Own-child
 ...                       ...               ...             ...
 30151      Married-civ-spouse    Prof-specialty         Husband
 30832      Married-civ-spouse      Adm-clerical            Wife
 30870           Never-married    Prof-specialty   Not-in-family
 31326      Married-civ-spouse    Prof-specialty         Husband
 31356      Married-civ-spouse    Prof-specialty         Husband

                       race      sex  capital-gain  capital-loss  \
 10      Asian-Pac-Islander     Male             0             0
 891     Asian-Pac-Islander   Female             0             0
 967     Asian-Pac-Islander     Male             0             0
 1028    Asian-Pac-Islander     Male             0             0
 1094    Asian-Pac-Islander     Male             0             0
 ...                    ...      ...           ...           ...
 30151   Asian-Pac-Islander     Male             0             0
 30832   Asian-Pac-Islander   Female             0             0
 30870   Asian-Pac-Islander     Male             0             0
 31326   Asian-Pac-Islander     Male          7688             0
 31356   Asian-Pac-Islander     Male             0          1887

        hours-per-week native-country   <=50K
 10                 40          India    >50K
 891                40          India   <=50K
 967                40          India    >50K
 1028               50          India   <=50K
 1094               20          India   <=50K
 ...               ...            ...     ...
 30151              40          India    >50K
 30832              37          India    >50K
 30870              20          India   <=50K
 31326              60          India    >50K
 31356              50          India    >50K

 [100 rows x 15 columns],
 ' Mexico':        age   workclass  fnlwgt      education  education-num  \
 14      34     Private  245487        7th-8th              4
 55      46     Private  216666        5th-6th              3
 74      27     Private  213921        HS-grad              9
 141     19     Private  316868   Some-college             10
 149     47   Local-gov  186009   Some-college             10
 ...    ...         ...     ...            ...            ...
 32331   26     Private  233777        HS-grad              9
 32333   24     Private  176580        5th-6th              3
 32424   23     Private  180771        1st-4th              2
 32431   36     Private  208068      Preschool              1
 32546   43     Private  260761        HS-grad              9

                marital-status          occupation    relationship  \
 14         Married-civ-spouse    Transport-moving         Husband
 55         Married-civ-spouse   Machine-op-inspct         Husband
 74              Never-married       Other-service       Own-child
 141             Never-married       Other-service       Own-child
 149                  Divorced        Adm-clerical       Unmarried
 ...                       ...                 ...             ...
 32331      Married-civ-spouse        Craft-repair         Husband
 32333   Married-spouse-absent     Farming-fishing   Not-in-family
 32424      Married-civ-spouse   Machine-op-inspct            Wife
 32431                Divorced       Other-service   Not-in-family
 32546      Married-civ-spouse   Machine-op-inspct         Husband

                       race      sex  capital-gain  capital-loss  \
 14      Amer-Indian-Eskimo     Male             0             0
 55                   White     Male             0             0
 74                   White     Male             0             0
 141                  White     Male             0             0
 149                  White   Female             0             0
 ...                    ...      ...           ...           ...
 32331                White     Male             0             0
 32333                White     Male             0             0
 32424   Amer-Indian-Eskimo   Female             0             0
 32431                Other     Male             0             0
 32546                White     Male             0             0

        hours-per-week native-country   <=50K
 14                 45         Mexico   <=50K
 55                 40         Mexico   <=50K
 74                 40         Mexico   <=50K
 141                30         Mexico   <=50K
 149                38         Mexico   <=50K
 ...               ...            ...     ...
 32331              72         Mexico   <=50K
 32333              40         Mexico   <=50K
 32424              35         Mexico   <=50K
 32431              72         Mexico   <=50K
 32546              40         Mexico   <=50K

 [643 rows x 15 columns],
 ' South':        age          workclass  fnlwgt      education  education-num  \
 26      54                  ?  180211   Some-college             10
 667     20                  ?  114746           11th              7
 915     43            Private  158926        Masters             14
 1968    45   Self-emp-not-inc  133969        HS-grad              9
 2207    34   Self-emp-not-inc  306982      Bachelors             13
 ...    ...                ...     ...            ...            ...
 29487   36            Private  162312        HS-grad              9
 30346   39   Self-emp-not-inc  191342      Bachelors             13
 30532   50   Self-emp-not-inc  131982        HS-grad              9
 31301   60            Private   85995        Masters             14
 31750   22                  ?  148955   Some-college             10

                marital-status        occupation    relationship  \
 26         Married-civ-spouse                 ?         Husband
 667     Married-spouse-absent                 ?       Own-child
 915        Married-civ-spouse    Prof-specialty            Wife
 1968       Married-civ-spouse             Sales         Husband
 2207       Married-civ-spouse             Sales         Husband
 ...                       ...               ...             ...
 29487           Never-married      Craft-repair   Not-in-family
 30346      Married-civ-spouse   Exec-managerial         Husband
 30532      Married-civ-spouse     Other-service         Husband
 31301      Married-civ-spouse      Adm-clerical         Husband
 31750           Never-married                 ?       Own-child

                       race      sex  capital-gain  capital-loss  \
 26      Asian-Pac-Islander     Male             0             0
 667     Asian-Pac-Islander   Female             0          1762
 915     Asian-Pac-Islander   Female             0             0
 1968    Asian-Pac-Islander     Male             0             0
 2207    Asian-Pac-Islander     Male             0             0
 ...                    ...      ...           ...           ...
 29487   Asian-Pac-Islander     Male             0             0
 30346   Asian-Pac-Islander     Male             0             0
 30532   Asian-Pac-Islander     Male             0             0
 31301   Asian-Pac-Islander     Male             0             0
 31750   Asian-Pac-Islander   Female             0             0

        hours-per-week native-country   <=50K
 26                 60          South    >50K
 667                40          South   <=50K
 915                50          South   <=50K
 1968               50          South    >50K
 2207               60          South   <=50K
 ...               ...            ...     ...
 29487              70          South   <=50K
 30346              50          South   <=50K
 30532              60          South   <=50K
 31301              50          South    >50K
 31750              15          South   <=50K

 [80 rows x 15 columns],
 ' Puerto-Rico':        age workclass  fnlwgt      education  education-num  \
 34      48   Private  242406           11th              7
 56      35   Private   56352      Assoc-voc             11
 403     28   Private  166481        7th-8th              4
 529     44   Private  109339           11th              7
 1788    66   Private  142723        5th-6th              3
 ...    ...       ...     ...            ...            ...
 28714   57         ?  202903        7th-8th              4
 29014   35   Private  194960        HS-grad              9
 29646   42   Private  251239   Some-college             10
 30298   42   Private  152676        7th-8th              4
 31056   33   Private  256062   Some-college             10

                marital-status          occupation    relationship    race  \
 34              Never-married   Machine-op-inspct       Unmarried   White
 56         Married-civ-spouse       Other-service         Husband   White
 403        Married-civ-spouse   Handlers-cleaners         Husband   Other
 529                  Divorced   Machine-op-inspct       Unmarried   Other
 1788    Married-spouse-absent   Handlers-cleaners       Unmarried   White
 ...                       ...                 ...             ...     ...
 28714      Married-civ-spouse                   ?            Wife   White
 29014           Never-married     Farming-fishing   Not-in-family   Other
 29646      Married-civ-spouse     Exec-managerial         Husband   White
 30298                Divorced        Craft-repair       Unmarried   White
 31056           Never-married        Adm-clerical       Unmarried   White

            sex  capital-gain  capital-loss  hours-per-week native-country  \
 34        Male             0             0              40    Puerto-Rico
 56        Male             0             0              40    Puerto-Rico
 403       Male             0          2179              40    Puerto-Rico
 529     Female             0             0              46    Puerto-Rico
 1788    Female             0             0              40    Puerto-Rico
 ...        ...           ...           ...             ...            ...
 28714   Female          1173             0              45    Puerto-Rico
 29014     Male             0             0              40    Puerto-Rico
 29646     Male             0             0              40    Puerto-Rico
 30298     Male             0             0              40    Puerto-Rico
 31056   Female             0             0              35    Puerto-Rico

         <=50K
 34      <=50K
 56      <=50K
 403     <=50K
 529     <=50K
 1788    <=50K
 ...       ...
 28714   <=50K
 29014   <=50K
 29646   <=50K
 30298   <=50K
 31056   <=50K


<h4>Sex</h4>

In [51]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [56]:
no_of_males = (df['sex'] == " Male").sum()
no_of_females = (df['sex'] == " Female").sum()

print(f"No of Males: {no_of_males}")
print(f"No of Females: {no_of_females}")

No of Males: 21369
No of Females: 10608

In [57]:
males_df = df[df['sex'] == " Male"]
females_df = df[df['sex'] == " Female"]

<h4>Race</h4>

In [67]:
races = df['race'].unique()
races

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [62]:
race_dfs = []

for race in races:
    race_dfs.append(df[df['race'] == race])

In [79]:
race_dfs_dict = dict(zip(races, race_dfs))
race_dfs_dict

{' White':        age          workclass  fnlwgt    education  education-num  \
 0       50   Self-emp-not-inc   83311    Bachelors             13
 1       38            Private  215646      HS-grad              9
 4       37            Private  284582      Masters             14
 6       52   Self-emp-not-inc  209642      HS-grad              9
 7       31            Private   45781      Masters             14
 ...    ...                ...     ...          ...            ...
 32555   27            Private  257302   Assoc-acdm             12
 32556   40            Private  154374      HS-grad              9
 32557   58            Private  151910      HS-grad              9
 32558   22            Private  201490      HS-grad              9
 32559   52       Self-emp-inc  287927      HS-grad              9

             marital-status          occupation    relationship    race  \
 0       Married-civ-spouse     Exec-managerial         Husband   White
 1                 Divorced   Handlers-cleaners   Not-in-family   White
 4       Married-civ-spouse     Exec-managerial            Wife   White
 6       Married-civ-spouse     Exec-managerial         Husband   White
 7            Never-married      Prof-specialty   Not-in-family   White
 ...                    ...                 ...             ...     ...
 32555   Married-civ-spouse        Tech-support            Wife   White
 32556   Married-civ-spouse   Machine-op-inspct         Husband   White
 32557              Widowed        Adm-clerical       Unmarried   White
 32558        Never-married        Adm-clerical       Own-child   White
 32559   Married-civ-spouse     Exec-managerial            Wife   White

            sex  capital-gain  capital-loss  hours-per-week  native-country  \
 0         Male             0             0              13   United-States
 1         Male             0             0              40   United-States
 4       Female             0             0              40   United-States
 6         Male             0             0              45   United-States
 7       Female         14084             0              50   United-States
 ...        ...           ...           ...             ...             ...
 32555   Female             0             0              38   United-States
 32556     Male             0             0              40   United-States
 32557   Female             0             0              40   United-States
 32558     Male             0             0              20   United-States
 32559   Female         15024             0              40   United-States

         <=50K
 0       <=50K
 1       <=50K
 4       <=50K
 6        >50K
 7        >50K
 ...       ...
 32555   <=50K
 32556    >50K
 32557   <=50K
 32558   <=50K
 32559    >50K

 [27429 rows x 15 columns],
 ' Black':        age workclass  fnlwgt      education  education-num  \
 2       53   Private  234721           11th              7
 3       28   Private  338409      Bachelors             13
 5       49   Private  160187            9th              5
 9       37   Private  280464   Some-college             10
 12      32   Private  205019     Assoc-acdm             12
 ...    ...       ...     ...            ...            ...
 32520   33   Private  273243        HS-grad              9
 32534   22   Private  325033           12th              8
 32536   30   Private  345898        HS-grad              9
 32537   38   Private  139180      Bachelors             13
 32540   41         ?  202822        HS-grad              9

                marital-status          occupation    relationship    race  \
 2          Married-civ-spouse   Handlers-cleaners         Husband   Black
 3          Married-civ-spouse      Prof-specialty            Wife   Black
 5       Married-spouse-absent       Other-service   Not-in-family   Black
 9          Married-civ-spouse     Exec-managerial         Husband   Black
 12              Never-married               Sales   Not-in-family   Black
 ...                       ...                 ...             ...     ...
 32520      Married-civ-spouse        Craft-repair         Husband   Black
 32534           Never-married     Protective-serv       Own-child   Black
 32536           Never-married        Craft-repair   Not-in-family   Black
 32537                Divorced      Prof-specialty       Unmarried   Black
 32540               Separated                   ?   Not-in-family   Black

            sex  capital-gain  capital-loss  hours-per-week  native-country  \
 2         Male             0             0              40   United-States
 3       Female             0             0              40            Cuba
 5       Female             0             0              16         Jamaica
 9         Male             0             0              80   United-States
 12        Male             0             0              50   United-States
 ...        ...           ...           ...             ...             ...
 32520     Male             0             0              40   United-States
 32534     Male             0             0              35   United-States
 32536     Male             0             0              46   United-States
 32537   Female         15020             0              45   United-States
 32540   Female             0             0              32   United-States

         <=50K
 2       <=50K
 3       <=50K
 5       <=50K
 9        >50K
 12      <=50K
 ...       ...
 32520   <=50K
 32534   <=50K
 32536   <=50K
 32537    >50K
 32540   <=50K

 [3028 rows x 15 columns],
 ' Asian-Pac-Islander':        age      workclass  fnlwgt      education  education-num  \
 10      30      State-gov  141297      Bachelors             13
 26      54              ?  180211   Some-college             10
 138     49        Private   81973   Some-college             10
 151     33        Private  163003      Bachelors             13
 161     44   Self-emp-inc   78374        Masters             14
 ...    ...            ...     ...            ...            ...
 32456   33        Private  139057        Masters             14
 32485   24        Private  216984   Some-college             10
 32530   30              ?   33811      Bachelors             13
 32532   54        Private  337992      Bachelors             13
 32552   32        Private  116138        Masters             14

             marital-status        occupation     relationship  \
 10      Married-civ-spouse    Prof-specialty          Husband
 26      Married-civ-spouse                 ?          Husband
 138     Married-civ-spouse      Craft-repair          Husband
 151          Never-married   Exec-managerial   Other-relative
 161               Divorced   Exec-managerial        Unmarried
 ...                    ...               ...              ...
 32456   Married-civ-spouse      Tech-support          Husband
 32485   Married-civ-spouse     Other-service        Own-child
 32530        Never-married                 ?    Not-in-family
 32532   Married-civ-spouse   Exec-managerial          Husband
 32552        Never-married      Tech-support    Not-in-family

                       race      sex  capital-gain  capital-loss  \
 10      Asian-Pac-Islander     Male             0             0
 26      Asian-Pac-Islander     Male             0             0
 138     Asian-Pac-Islander     Male             0             0
 151     Asian-Pac-Islander   Female             0             0
 161     Asian-Pac-Islander   Female             0             0
 ...                    ...      ...           ...           ...
 32456   Asian-Pac-Islander     Male             0             0
 32485   Asian-Pac-Islander   Female             0             0
 32530   Asian-Pac-Islander   Female             0             0
 32532   Asian-Pac-Islander     Male             0             0
 32552   Asian-Pac-Islander     Male             0             0

        hours-per-week  native-country   <=50K
 10                 40           India    >50K
 26                 60           South    >50K
 138                40   United-States    >50K
 151                40     Philippines   <=50K
 161                40   United-States   <=50K
 ...               ...             ...     ...
 32456              50   United-States    >50K
 32485              35   United-States   <=50K
 32530              99   United-States   <=50K
 32532              50           Japan    >50K
 32552              11          Taiwan   <=50K

 [956 rows x 15 columns],
 ' Amer-Indian-Eskimo':        age workclass  fnlwgt      education  education-num  \
 14      34   Private  245487        7th-8th              4
 211     35   Private  153790   Some-college             10
 225     60         ?   24215           10th              6
 446     51   Private   56915        HS-grad              9
 515     25   Private  267044   Some-college             10
 ...    ...       ...     ...            ...            ...
 32230   44   Private   33105        HS-grad              9
 32241   33   Private  356015        HS-grad              9
 32248   35   Private   91839      Bachelors             13
 32424   23   Private  180771        1st-4th              2
 32550   32   Private   34066           10th              6

             marital-status          occupation    relationship  \
 14      Married-civ-spouse    Transport-moving         Husband
 211          Never-married               Sales   Not-in-family
 225               Divorced                   ?   Not-in-family
 446     Married-civ-spouse        Craft-repair         Husband
 515          Never-married        Adm-clerical   Not-in-family
 ...                    ...                 ...             ...
 32230   Married-civ-spouse     Exec-managerial         Husband
 32241            Separated        Craft-repair   Not-in-family
 32248   Married-civ-spouse       Other-service         Husband
 32424   Married-civ-spouse   Machine-op-inspct            Wife
 32550   Married-civ-spouse   Handlers-cleaners         Husband

                       race      sex  capital-gain  capital-loss  \
 14      Amer-Indian-Eskimo     Male             0             0
 211     Amer-Indian-Eskimo   Female             0             0
 225     Amer-Indian-Eskimo   Female             0             0
 446     Amer-Indian-Eskimo     Male             0             0
 515     Amer-Indian-Eskimo   Female             0             0
 ...                    ...      ...           ...           ...
 32230   Amer-Indian-Eskimo     Male             0             0
 32241   Amer-Indian-Eskimo     Male             0             0
 32248   Amer-Indian-Eskimo     Male          7688             0
 32424   Amer-Indian-Eskimo   Female             0             0
 32550   Amer-Indian-Eskimo     Male             0             0

        hours-per-week  native-country   <=50K
 14                 45          Mexico   <=50K
 211                40   United-States   <=50K
 225                10   United-States   <=50K
 446                40   United-States   <=50K
 515                20   United-States   <=50K
 ...               ...             ...     ...
 32230              40   United-States   <=50K
 32241              35            Hong   <=50K
 32248              20   United-States    >50K
 32424              35          Mexico   <=50K
 32550              40   United-States   <=50K

 [311 rows x 15 columns],
 ' Other':        age workclass  fnlwgt      education  education-num  \
 49      25   Private   32275   Some-college             10
 232     33   Private  110978   Some-college             10
 355     65   Private  161400           11th              7
 403     28   Private  166481        7th-8th              4
 529     44   Private  109339           11th              7
 ...    ...       ...     ...            ...            ...
 32020   46   Private  211226     Assoc-acdm             12
 32074   27         ?  147638        Masters             14
 32262   27   Private  176761        HS-grad              9
 32431   36   Private  208068      Preschool              1
 32543   31   Private  199655        Masters             14

             marital-status          occupation     relationship    race  \
 49      Married-civ-spouse     Exec-managerial             Wife   Other
 232               Divorced        Craft-repair   Other-relative   Other
 355                Widowed       Other-service        Unmarried   Other
 403     Married-civ-spouse   Handlers-cleaners          Husband   Other
 529               Divorced   Machine-op-inspct        Unmarried   Other
 ...                    ...                 ...              ...     ...
 32020   Married-civ-spouse    Transport-moving          Husband   Other
 32074        Never-married                   ?    Not-in-family   Other
 32262        Never-married        Craft-repair   Other-relative   Other
 32431             Divorced       Other-service    Not-in-family   Other
 32543             Divorced       Other-service    Not-in-family   Other

            sex  capital-gain  capital-loss  hours-per-week  native-country  \
 49      Female             0             0              40   United-States
 232     Female             0             0              40   United-States
 355       Male             0             0              40   United-States
 403       Male             0          2179              40     Puerto-Rico
 529     Female             0             0              46     Puerto-Rico
 ...        ...           ...           ...             ...             ...
 32020     Male             0             0              36   United-States
 32074   Female             0             0              40           Japan
 32262     Male             0             0              40       Nicaragua
 32431     Male             0             0              72          Mexico
 32543   Female             0             0              30   United-States

         <=50K
 49      <=50K
 232     <=50K
 355     <=50K
 403     <=50K
 529     <=50K
 ...       ...
 32020   <=50K
 32074   <=50K
 32262   <=50K
 32431   <=50K
 32543   <=50K

 [253 rows x 15 columns]}

<h3>2. Merge two subsets (all people who are from USA or are white)</h3>

In [81]:
usa_or_white_fd = pd.concat([country_dfs_dict[' United-States'], race_dfs_dict[' White']])

In [82]:
usa_or_white_fd

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

<h3>3. Sort Data using age</h3>

In [87]:
sorted_df = df.sort_values(by='age', ascending=False)

In [88]:
sorted_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
19488,90,Private,84553,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
2890,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
18412,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
12974,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
6231,90,Self-emp-not-inc,155981,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,10566,0,50,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12291,17,Private,169037,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
31958,17,Private,24090,HS-grad,9,Never-married,Exec-managerial,Own-child,White,Female,0,0,35,United-States,<=50K
10294,17,Private,228399,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,7,United-States,<=50K
26589,17,Private,52486,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,12,United-States,<=50K
22297,17,Private,134480,11th,7,Never-married,Priv-house-serv,Own-child,White,Female,0,0,25,United-States,<=50K

<h3>4. Transposing Data</h3>

In [89]:
transposed_df = df.transpose()

In [90]:
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,32550,32551,32552,32553,32554,32555,32556,32557,32558,32559
age,50,38,53,28,37,49,52,31,42,37,...,32,43,32,53,22,27,40,58,22,52
workclass,Self-emp-not-inc,Private,Private,Private,Private,Private,Self-emp-not-inc,Private,Private,Private,...,Private,Private,Private,Private,Private,Private,Private,Private,Private,Self-emp-inc
fnlwgt,83311,215646,234721,338409,284582,160187,209642,45781,159449,280464,...,34066,84661,116138,321865,310152,257302,154374,151910,201490,287927
education,Bachelors,HS-grad,11th,Bachelors,Masters,9th,HS-grad,Masters,Bachelors,Some-college,...,10th,Assoc-voc,Masters,Masters,Some-college,Assoc-acdm,HS-grad,HS-grad,HS-grad,HS-grad
education-num,13,9,7,13,14,5,9,14,13,10,...,6,11,14,14,10,12,9,9,9,9
marital-status,Married-civ-spouse,Divorced,Married-civ-spouse,Married-civ-spouse,Married-civ-spouse,Married-spouse-absent,Married-civ-spouse,Never-married,Married-civ-spouse,Married-civ-spouse,...,Married-civ-spouse,Married-civ-spouse,Never-married,Married-civ-spouse,Never-married,Married-civ-spouse,Married-civ-spouse,Widowed,Never-married,Married-civ-spouse
occupation,Exec-managerial,Handlers-cleaners,Handlers-cleaners,Prof-specialty,Exec-managerial,Other-service,Exec-managerial,Prof-specialty,Exec-managerial,Exec-managerial,...,Handlers-cleaners,Sales,Tech-support,Exec-managerial,Protective-serv,Tech-support,Machine-op-inspct,Adm-clerical,Adm-clerical,Exec-managerial
relationship,Husband,Not-in-family,Husband,Wife,Wife,Not-in-family,Husband,Not-in-family,Husband,Husband,...,Husband,Husband,Not-in-family,Husband,Not-in-family,Wife,Husband,Unmarried,Own-child,Wife
race,White,White,Black,Black,White,Black,White,White,White,Black,...,Amer-Indian-Eskimo,White,Asian-Pac-Islander,White,White,White,White,White,White,White
sex,Male,Male,Male,Female,Female,Female,Male,Female,Male,Male,...,Male,Male,Male,Male,Male,Female,Male,Female,Male,Female
capital-gain,0,0,0,0,0,0,0,14084,5178,0,...,0,0,0,0,0,0,0,0,0,15024
capital-loss,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hours-per-week,13,40,40,40,40,16,45,50,40,80,...,40,45,11,40,40,38,40,40,20,40
native-country,United-States,United-States,United-States,Cuba,United-States,Jamaica,United-States,United-States,United-States,United-States,...,United-States,United-States,Taiwan,United-States,United-States,United-States,United-States,United-States,United-States,United-States
<=50K,<=50K,<=50K,<=50K,<=50K,<=50K,<=50K,>50K,>50K,>50K,>50K,...,<=50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K