In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("datasets/Movie/movies_metadata.csv", low_memory=False)

In [3]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [5]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

<h3>1. Create data subsets for different languages</h3>

In [14]:
languages = df['original_language'].unique()
languages

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [18]:
language_dfs = []

for language in languages:
    language_dfs.append(df[df['original_language'] == language])

In [19]:
language_fds_dict = dict(zip(languages, language_dfs))

In [23]:
language_fds_dict

{'en':        adult                              belongs_to_collection    budget  \
 0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
 1      False                                                NaN  65000000
 2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
 3      False                                                NaN  16000000
 4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
 ...      ...                                                ...       ...
 45459  False                                                NaN         0
 45460  False                                                NaN         0
 45463  False                                                NaN         0
 45464  False                                                NaN         0
 45465  False                                                NaN         0

                                                   genres  \
 0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
 1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
 2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
 3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 4                         [{'id': 35, 'name': 'Comedy'}]
 ...                                                  ...
 45459           [{'id': 878, 'name': 'Science Fiction'}]
 45460  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
 45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
 45464                                                 []
 45465                                                 []

                                    homepage      id    imdb_id  \
 0      http://toystory.disney.com/toy-story     862  tt0114709
 1                                       NaN    8844  tt0113497
 2                                       NaN   15602  tt0113228
 3                                       NaN   31357  tt0114885
 4                                       NaN   11862  tt0113041
 ...                                     ...     ...        ...
 45459                                   NaN  222848  tt0112613
 45460                                   NaN   30840  tt0102797
 45463                                   NaN   67758  tt0303758
 45464                                   NaN  227506  tt0008536
 45465                                   NaN  461257  tt6980792

       original_language               original_title  \
 0                    en                    Toy Story
 1                    en                      Jumanji
 2                    en             Grumpier Old Men
 3                    en            Waiting to Exhale
 4                    en  Father of the Bride Part II
 ...                 ...                          ...
 45459                en              Caged Heat 3000
 45460                en                   Robin Hood
 45463                en                     Betrayal
 45464                en          Satana likuyushchiy
 45465                en                     Queerama

                                                 overview  ... release_date  \
 0      Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
 1      When siblings Judy and Peter discover an encha...  ...   1995-12-15
 2      A family wedding reignites the ancient feud be...  ...   1995-12-22
 3      Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
 4      Just when George Banks has recovered from his ...  ...   1995-02-10
 ...                                                  ...  ...          ...
 45459  It's the year 3000 AD. The world's most danger...  ...   1995-01-01
 45460  Yet another version of the classic epic, with ...  ...   1991-05-13
 45463  When one of her hits goes wrong, a professiona...  ...   2003-08-01
 45464  In a small town live two brothers, one a minis...  ...   1917-10-21
 45465  50 years after decriminalisation of homosexual...  ...   2017-06-09

            revenue runtime                                   spoken_languages  \
 0      373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
 1      262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 2              0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
 3       81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
 4       76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
 ...            ...     ...                                                ...
 45459          0.0    85.0           [{'iso_639_1': 'en', 'name': 'English'}]
 45460          0.0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
 45463          0.0    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
 45464          0.0    87.0                                                 []
 45465          0.0    75.0           [{'iso_639_1': 'en', 'name': 'English'}]

          status                                            tagline  \
 0      Released                                                NaN
 1      Released          Roll the dice and unleash the excitement!
 2      Released  Still Yelling. Still Fighting. Still Ready for...
 3      Released  Friends are the people who let you be yourself...
 4      Released  Just When His World Is Back To Normal... He's ...
 ...         ...                                                ...
 45459  Released                                                NaN
 45460  Released                                                NaN
 45463  Released                             A deadly game of wits.
 45464  Released                                                NaN
 45465  Released                                                NaN

                              title  video vote_average vote_count
 0                        Toy Story  False          7.7     5415.0
 1                          Jumanji  False          6.9     2413.0
 2                 Grumpier Old Men  False          6.5       92.0
 3                Waiting to Exhale  False          6.1       34.0
 4      Father of the Bride Part II  False          5.7      173.0
 ...                            ...    ...          ...        ...
 45459              Caged Heat 3000  False          3.5        1.0
 45460                   Robin Hood  False          5.7       26.0
 45463                     Betrayal  False          3.8        6.0
 45464             Satan Triumphant  False          0.0        0.0
 45465                     Queerama  False          0.0        0.0

 [32269 rows x 24 columns],
 'fr':        adult belongs_to_collection    budget  \
 28     False                   NaN  18000000
 32     False                   NaN         0
 58     False                   NaN         0
 67     False                   NaN         0
 72     False                   NaN         0
 ...      ...                   ...       ...
 45444  False                   NaN         0
 45447  False                   NaN         0
 45448  False                   NaN         0
 45450  False                   NaN         0
 45451  False                   NaN         0

                                                   genres homepage      id  \
 28     [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...      NaN     902
 32     [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...      NaN   78802
 58     [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...      NaN   99040
 67     [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...      NaN    4482
 72     [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...      NaN   48750
 ...                                                  ...      ...     ...
 45444                    [{'id': 14, 'name': 'Fantasy'}]      NaN   44333
 45447                                                 []      NaN   44324
 45448                                                 []      NaN  122036
 45450  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...      NaN   49280
 45451  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...      NaN  106807

          imdb_id original_language                     original_title  \
 28     tt0112682                fr         La Cité des Enfants Perdus
 32     tt0114952                fr   Guillaumet, les ailes du courage
 58     tt0112714                fr                   Le confessionnal
 67     tt0113149                fr                       Gazon maudit
 72     tt0113828                fr                     Les misérables
 ...          ...               ...                                ...
 45444  tt0135179                fr                Les cartes vivantes
 45447  tt0135631                fr               Le Roi du maquillage
 45448  tt0224286                fr  Les Transmutations imperceptibles
 45450  tt0135453                fr                  L'Homme orchestre
 45451  tt0135571                fr     Nouvelles luttes extravagantes

                                                 overview  ... release_date  \
 28     A scientist in a surrealist society kidnaps ch...  ...   1995-05-16
 32                                                   NaN  ...   1996-09-18
 58     The year is 1952, in Quebec City. Rachel (16),...  ...   1995-09-29
 67     After learning of her husband's infidelities, ...  ...   1995-02-08
 72     In France during World War II, a poor and illi...  ...   1995-03-22
 ...                                                  ...  ...          ...
 45444  A bearded magician holds up a large playing ca...  ...   1905-01-01
 45447  The background of this picture represents a sc...  ...   1904-03-05
 45448  This shows a prince entering upon the stage of...  ...   1904-01-01
 45450  A band-leader has arranged seven chairs for th...  ...   1900-01-01
 45451         A series of fantastical wrestling matches.  ...   1900-01-01

          revenue runtime                                   spoken_languages  \
 28     1738611.0   108.0  [{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...
 32           0.0    50.0           [{'iso_639_1': 'en', 'name': 'English'}]
 58           0.0   100.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 67           0.0    95.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
 72           0.0   175.0          [{'iso_639_1': 'fr', 'name': 'Français'}]
 ...          ...     ...                                                ...
 45444        0.0     3.0       [{'iso_639_1': 'xx', 'name': 'No Language'}]
 45447        0.0     3.0                                                 []
 45448        0.0     2.0                                                 []
 45450        0.0     1.0       [{'iso_639_1': 'xx', 'name': 'No Language'}]
 45451        0.0     2.0       [{'iso_639_1': 'xx', 'name': 'No Language'}]

          status                                            tagline  \
 28     Released          Where happily ever after is just a dream.
 32     Released                                                NaN
 58     Released                                                NaN
 67     Released                                                NaN
 72     Released  In a time of chaos, in a world of change, he w...
 ...         ...                                                ...
 45444  Released                                                NaN
 45447  Released                                                NaN
 45448  Released                                                NaN
 45450  Released                                                NaN
 45451  Released                                                NaN

                                   title  video vote_average vote_count
 28            The City of Lost Children  False          7.6      308.0
 32                     Wings of Courage  False          6.8        4.0
 58                     The Confessional  False          6.5        2.0
 67                         French Twist  False          6.0       43.0
 72                       Les Miserables  False          6.6        8.0
 ...                                 ...    ...          ...        ...
 45444          The Living Playing Cards  False          6.1        8.0
 45447           The Untameable Whiskers  False          6.0        6.0
 45448  The Imperceptable Transmutations  False          5.0        2.0
 45450                  The One-Man Band  False          6.5       22.0
 45451  The Fat and Lean Wrestling Match  False          6.5        6.0

 [2438 rows x 24 columns],
 'zh':        adult                              belongs_to_collection  budget  \
 29     False                                                NaN       0
 228    False                                                NaN       0
 294    False                                                NaN  400000
 305    False                                                NaN       0
 321    False                                                NaN       0
 ...      ...                                                ...     ...
 44976  False                                                NaN       0
 44999  False                                                NaN       0
 45382  False  {'id': 200641, 'name': 'Red Lotus Collection',...       0
 45383  False                                                NaN       0
 45421  False                                                NaN       0

                                                   genres homepage      id  \
 29     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...      NaN   37557
 228    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...      NaN   10451
 294    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...      NaN   25296
 305                        [{'id': 18, 'name': 'Drama'}]      NaN  159185
 321    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN   31439
 ...                                                  ...      ...     ...
 44976                      [{'id': 18, 'name': 'Drama'}]      NaN  163202
 44999                 [{'id': 10749, 'name': 'Romance'}]      NaN  309820
 45382  [{'id': 28, 'name': 'Action'}, {'id': 10769, '...      NaN  182030
 45383  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...      NaN   32388
 45421  [{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...      NaN   52103

          imdb_id original_language      original_title  \
 29     tt0115012                zh           摇啊摇，摇到外婆桥
 228    tt0111797                zh                飲食男女
 294    tt0105652                zh       Pushing Hands
 305    tt0110769                zh  Pao Da Shuang Deng
 321    tt0110081                zh                  活着
 ...          ...               ...                 ...
 44976  tt0109691                zh                  多桑
 44999  tt0485441                zh                 野玫瑰
 45382  tt0059292                zh          火燒紅蓮寺之鴛鴦劍俠
 45383  tt0063105                zh                 金燕子
 45421  tt0144020                zh             Xiao Wu

                                                 overview  ... release_date  \
 29     A provincial boy related to a Shanghai crime f...  ...   1995-04-30
 228    The film tells the story of a retired and wido...  ...   1994-08-03
 294    The story is about an elderly Chinese tai chi ...  ...   1992-02-01
 305    A woman inherits her father's fireworks factor...  ...   1994-10-14
 321    Fugui and Jiazhen endure tumultuous events in ...  ...   1994-06-30
 ...                                                  ...  ...          ...
 44976  Sega's children, born into post-war Chinese ru...  ...   1994-01-01
 44999  A wild country girl moves to Shanghai with her...  ...   1932-04-11
 45382  Kwei Wu happens upon a kidnapping with his wif...  ...   1965-12-22
 45383  Golden Swallow revolves around the further adv...  ...   1968-04-03
 45421  Little pocket thief Wu never got away from the...  ...   1997-01-01

          revenue runtime                                   spoken_languages  \
 29           0.0   108.0               [{'iso_639_1': 'zh', 'name': '普通话'}]
 228    7294403.0   123.0               [{'iso_639_1': 'zh', 'name': '普通话'}]
 294     152322.0   105.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 305          0.0   111.0               [{'iso_639_1': 'zh', 'name': '普通话'}]
 321          0.0   125.0               [{'iso_639_1': 'zh', 'name': '普通话'}]
 ...          ...     ...                                                ...
 44976        0.0   167.0  [{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...
 44999        0.0    70.0                                                 []
 45382        0.0    88.0               [{'iso_639_1': 'zh', 'name': '普通话'}]
 45383        0.0    89.0               [{'iso_639_1': 'zh', 'name': '普通话'}]
 45421        0.0   105.0               [{'iso_639_1': 'zh', 'name': '普通话'}]

          status                                            tagline  \
 29     Released  In 1930's Shanghai violence was not the proble...
 228    Released                                                NaN
 294    Released                                                NaN
 305    Released                                                NaN
 321    Released                                                NaN
 ...         ...                                                ...
 44976  Released                                                NaN
 44999  Released                                                NaN
 45382  Released                                                NaN
 45383  Released                                                NaN
 45421  Released                                                NaN

                                     title  video vote_average vote_count
 29                         Shanghai Triad  False          6.5       17.0
 228                   Eat Drink Man Woman  False          7.5       76.0
 294                         Pushing Hands  False          6.1        9.0
 305    Red Firecracker, Green Firecracker  False          7.0        2.0
 321                               To Live  False          7.7       62.0
 ...                                   ...    ...          ...        ...
 44976                     A Borrowed Life  False          5.0        1.0
 44999                           Wild Rose  False          0.0        0.0
 45382                     The Twin Swords  False          5.6        4.0
 45383                      Golden Swallow  False          6.5       10.0
 45421                          Pickpocket  False          7.2       13.0

 [409 rows x 24 columns],
 'it':        adult belongs_to_collection budget  \
 52     False                   NaN      0
 57     False                   NaN      0
 122    False                   NaN      0
 129    False                   NaN      0
 224    False                   NaN      0
 ...      ...                   ...    ...
 45115  False                   NaN      0
 45149  False                   NaN      0
 45165  False                   NaN      0
 45276  False                   NaN      0
 45455  False                   NaN      0

                                                   genres homepage      id  \
 52     [{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...      NaN   49133
 57     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...      NaN   11010
 122    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN   37975
 129    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN   73067
 224    [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...      NaN   62488
 ...                                                  ...      ...     ...
 45115                                                 []      NaN  169856
 45149                     [{'id': 35, 'name': 'Comedy'}]      NaN  440708
 45165                     [{'id': 35, 'name': 'Comedy'}]      NaN   68063
 45276  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...      NaN  104308
 45455                                                 []      NaN   67179

          imdb_id original_language                original_title  \

<h3>2. Merge two subsets</h3>

In [24]:
merged_df = pd.concat([language_fds_dict['en'], language_fds_dict['fr']])

In [25]:
merged_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0

<h3>3. Sort Data using customer ratings.</h3>

In [28]:
sorted_df = df.sort_values(by='vote_average', ascending=False)

In [33]:
sorted_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
21642,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,320849,tt0886500,en,Ice Age Columbus: Who Were the First Americans?,Firmly rooted in the latest scientific discove...,...,2005-01-01,0.0,0.0,[],Released,NaN,Ice Age Columbus: Who Were the First Americans?,False,10.0,1.0
15710,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,96451,tt1587373,en,If God Is Willing and da Creek Don't Rise,"In 2006, director Spike Lee created an astonis...",...,2010-08-23,0.0,255.0,[],Released,NaN,If God Is Willing and da Creek Don't Rise,False,10.0,1.0
22396,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,72123,tt1341746,en,Meat the Truth,Meat the Truth is a high-profile documentary w...,...,2008-10-03,0.0,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Meat the Truth,False,10.0,1.0
22395,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.marvinhamlischmovie.com/,230864,tt3011874,en,Marvin Hamlisch: What He Did For Love,When Marvin Hamlisch passed away in August 201...,...,2013-10-12,0.0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Marvin Hamlisch: What He Did For Love,False,10.0,1.0
35343,False,NaN,300000,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",NaN,140595,tt0308213,en,Elaine Stritch: At Liberty,Judy at the Palace. Sinatra at Carnegie Hall. ...,...,2002-01-01,0.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Legendary performances come along so rarely.,Elaine Stritch: At Liberty,False,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29502,False,"{'id': 122661, 'name': 'Mardock Scramble Colle...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...",http://m-scramble.jp/exhaust/,122662,tt2423504,ja,マルドゥック・スクランブル 排気,Third film of the Mardock Scramble series.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35586,False,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 28,...",NaN,249260,tt2622826,en,Avalanche Sharks,A group of skiers are terrorized during spring...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>4. Transposing Data</h3>

In [34]:
transposed_df = df.transpose()

In [35]:
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,45456,45457,45458,45459,45460,45461,45462,45463,45464,45465
adult,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,NaN,NaN,NaN,"{'id': 645, 'name': 'James Bond Collection', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,30000000,65000000,0,16000000,0,60000000,58000000,0,35000000,58000000,...,0,0,0,0,0,0,0,0,0,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",...,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...","[{'id': 27, 'name': 'Horror'}]","[{'id': 878, 'name': 'Science Fiction'}]","[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'id': 18, 'name': 'Drama'}]","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],[]
homepage,http://toystory.disney.com/toy-story,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.mgm.com/view/movie/757/Goldeneye/,...,NaN,NaN,NaN,NaN,NaN,http://www.imdb.com/title/tt6209470/,NaN,NaN,NaN,NaN
id,862,8844,15602,31357,11862,949,11860,45325,9091,710,...,84419,390959,289923,222848,30840,439050,111109,67758,227506,461257
imdb_id,tt0114709,tt0113497,tt0113228,tt0114885,tt0113041,tt0113277,tt0114319,tt0112302,tt0114576,tt0113189,...,tt0038621,tt0265736,tt0252966,tt0112613,tt0102797,tt6209470,tt2028550,tt0303758,tt0008536,tt6980792
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,en,fa,tl,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,رگ خواب,Siglo ng Pagluluwal,Betrayal,Satana likuyushchiy,Queerama
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...,"Obsessive master thief, Neil McCauley leads a ...",An ugly duckling having undergone a remarkable...,"A mischievous young boy, Tom Sawyer, witnesses...",International action superstar Jean Claude Van...,James Bond must unmask the mysterious head of ...,...,An unsuccessful sculptor saves a madman named ...,"In this true-crime documentary, we delve into ...",A film archivist revisits the story of Rustin ...,It's the year 3000 AD. The world's most danger...,"Yet another version of the classic epic, with ...",Rising and falling between a man and woman.,An artist struggles to finish his work while a...,"When one of her hits goes wrong, a professiona...","In a small town live two brothers, one a minis...",50 years after decriminalisation of homosexual...
popularity,21.946943,17.015539,11.7129,3.859495,8.387519,17.924927,6.677277,2.561161,5.23158,14.686036,...,0.222814,0.076061,0.38645,0.661558,5.683753,0.072051,0.178241,0.903007,0.003503,0.163015
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,...,/yMnq9mL5uYxbRgwKqyz1cVGCJYJ.jpg,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'name': 'United Artists', 'id': 60}, {'name'...",...,"[{'name': 'Universal Pictures', 'id': 33}]",[],"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",[],"[{'name': 'Sine Olivia', 'id': 19653}]","[{'name': 'American World Pictures', 'id': 6165}]","[{'name': 'Yermoliev', 'id': 88753}]",[]
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",[],"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'IR', 'name': 'Iran'}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10,1995-12-15,1995-12-15,1995-12-22,1995-12-22,1995-11-16,...,1946-03-29,2000-10-22,2000-10-03,1995-01-01,1991-05-13,NaN,2011-11-17,2003-08-01,1917-10-21,2017-06-09
revenue,373554033.0,262797249.0,0.0,81452156.0,76578911.0,187436818.0,0.0,0.0,64350171.0,352194034.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
runtime,81.0,104.0,101.0,127.0,106.0,170.0,127.0,97.0,106.0,130.0,...,65.0,45.0,30.0,85.0,104.0,90.0,360.0,90.0,87.0,75.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'fa', 'name': 'فارسی'}]","[{'iso_639_1': 'tl', 'name': ''}]","[{'iso_639_1': 'en', 'name': 'English'}]",[],"[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...,A Los Angeles Crime Saga,You are cordially invited to the most surprisi...,The Original Bad Boys.,Terror goes into overtime.,No limits. No fears. No substitutes.,...,Meet...The CREEPER!,NaN,"Do you know what happened 50 years before ""The...",NaN,NaN,Rising and falling between a man and woman,NaN,A deadly game of wits.,NaN,NaN
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,Subdue,Century of Birthing,Betrayal,Satan Triumphant,Queerama
video,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
vote_average,7.7,6.9,6.5,6.1,5.7,7.7,6.2,5.4,5.5,6.6,...,6.3,7.0,7.0,3.5,5.7,4.0,9.0,3.8,0.0,0.0
vote_count,5415.0,2413.0,92.0,34.0,173.0,1886.0,141.0,45.0,174.0,1194.0,...,8.0,2.0,1.0,1.0,26.0,1.0,3.0,6.0,0.0,0.0

<h3>5. Melting Data to long format</h3>

In [37]:
melted_df = pd.melt(df, id_vars=['id','original_language'])

In [38]:
melted_df

             id original_language    variable  value
0           862                en       adult  False
1          8844                en       adult  False
2         15602                en       adult  False
3         31357                en       adult  False
4         11862                en       adult  False
...         ...               ...         ...    ...
1000247  439050                fa  vote_count    1.0
1000248  111109                tl  vote_count    3.0
1000249   67758                en  vote_count    6.0
1000250  227506                en  vote_count    0.0
1000251  461257                en  vote_count    0.0

[1000252 rows x 4 columns]

<h3>6. Casting data to wide format</h3>

In [39]:
pivoted_table = pd.pivot_table(df, index=['id','original_language'], values=['original_title','spoken_languages'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_2784\971056776.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  pivoted_table = pd.pivot_table(df, index=['id','original_language'], values=['original_title','spoken_languages'])

In [40]:
pivoted_table

Empty DataFrame
Columns: []
Index: [(100, en), (10000, es), (10001, en), (100010, en), (100017, de), (10002, en), (100024, en), (10003, en), (100032, en), (100033, ja), (10004, en), (100042, en), (100046, en), (10005, en), (100057, en), (10006, en), (100061, ps), (100063, en), (10007, en), (10008, en), (100085, en), (100086, ur), (100088, en), (100089, en), (10009, en), (10010, en), (10011, en), (100110, en), (10012, en), (100122, es), (10013, en), (10014, en), (10015, en), (100152, ru), (10016, en), (100167, en), (10017, en), (100179, en), (10018, de), (100183, en), (100185, en), (10019, en), (100196, en), (10020, en), (100205, en), (10021, en), (100215, hu), (10022, en), (100224, de), (10023, en), (10024, en), (100241, en), (100243, de), (100246, en), (100247, en), (10025, en), (100250, en), (100257, en), (10027, en), (100270, es), (100271, ja), (100272, en), (100274, en), (100275, en), (10028, en), (100287, da), (100288, it), (10029, en), (100292, en), (10030, en), (10032, en), (10033, en), (10034, en), (100341, en), (10035, en), (100351, en), (10036, de), (10037, en), (10040, en), (100402, en), (100409, en), (10041, en), (100416, en), (100420, en), (10044, cn), (10045, fr), (100450, en), (10046, en), (100461, ja), (100468, it), (10047, fr), (10048, en), (10049, en), (100490, en), (100493, en), (10050, en), (10051, fr), (10052, en), (100526, en), (100528, en), ...]

[45425 rows x 0 columns]