In [1]:
import pandas as pd

In [2]:
headers = ['age',
           'workclass',
           'fnlwgt',
           'education',
           'education-num',
           'marital-status',
           'occupation',
           'relationship',
           'race',
           'sex',
           'capital-gain', 
           'capital-loss',
           'hours-per-week',
           'native-country',
           '<=50K'
          ]

In [3]:
df = pd.read_csv("datasets/Adult/adult.csv", names=headers, header=None)

In [4]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
<=50K             0
dtype: int64

<h3>1. Create data subsets for different Country, Sex, Race</h3>

<h4>Country</h4>

In [7]:
df = df[df['native-country'] != ' ?']

In [8]:
countries = df['native-country'].unique()
countries

array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [9]:
country_dfs = []

for country in countries:
    country_dfs.append(df[df['native-country'] == country])

In [10]:
country_dfs_dict = dict(zip(countries, country_dfs))
country_dfs_dict

{' United-States':        age          workclass  fnlwgt    education  education-num  \
 0       39          State-gov   77516    Bachelors             13
 1       50   Self-emp-not-inc   83311    Bachelors             13
 2       38            Private  215646      HS-grad              9
 3       53            Private  234721         11th              7
 5       37            Private  284582      Masters             14
 ...    ...                ...     ...          ...            ...
 32556   27            Private  257302   Assoc-acdm             12
 32557   40            Private  154374      HS-grad              9
 32558   58            Private  151910      HS-grad              9
 32559   22            Private  201490      HS-grad              9
 32560   52       Self-emp-inc  287927      HS-grad              9

             marital-status          occupation    relationship    race  \
 0            Never-married        Adm-clerical   Not-in-family   White
 1       Married-civ-spouse     Exec-managerial         Husband   White
 2                 Divorced   Handlers-cleaners   Not-in-family   White
 3       Married-civ-spouse   Handlers-cleaners         Husband   Black
 5       Married-civ-spouse     Exec-managerial            Wife   White
 ...                    ...                 ...             ...     ...
 32556   Married-civ-spouse        Tech-support            Wife   White
 32557   Married-civ-spouse   Machine-op-inspct         Husband   White
 32558              Widowed        Adm-clerical       Unmarried   White
 32559        Never-married        Adm-clerical       Own-child   White
 32560   Married-civ-spouse     Exec-managerial            Wife   White

            sex  capital-gain  capital-loss  hours-per-week  native-country  \
 0         Male          2174             0              40   United-States
 1         Male             0             0              13   United-States
 2         Male             0             0              40   United-States
 3         Male             0             0              40   United-States
 5       Female             0             0              40   United-States
 ...        ...           ...           ...             ...             ...
 32556   Female             0             0              38   United-States
 32557     Male             0             0              40   United-States
 32558   Female             0             0              40   United-States
 32559     Male             0             0              20   United-States
 32560   Female         15024             0              40   United-States

         <=50K
 0       <=50K
 1       <=50K
 2       <=50K
 3       <=50K
 5       <=50K
 ...       ...
 32556   <=50K
 32557    >50K
 32558   <=50K
 32559   <=50K
 32560    >50K

 [29170 rows x 15 columns],
 ' Cuba':        age          workclass  fnlwgt   education  education-num  \
 4       28            Private  338409   Bachelors             13
 81      52            Private  276515   Bachelors             13
 638     47       Self-emp-inc  248145     5th-6th              3
 701     31            Private  243605   Bachelors             13
 1237    41   Self-emp-not-inc  209344     HS-grad              9
 ...    ...                ...     ...         ...            ...
 30841   37            Private  238433     1st-4th              2
 30892   52            Private  222646        12th              8
 30906   39   Self-emp-not-inc  251323         9th              5
 31149   52       Self-emp-inc  230767   Bachelors             13
 31907   48            Private  379883     Masters             14

             marital-status          occupation     relationship    race  \
 4       Married-civ-spouse      Prof-specialty             Wife   Black
 81      Married-civ-spouse       Other-service          Husband   White
 638     Married-civ-spouse    Transport-moving          Husband   White
 701                Widowed               Sales        Unmarried   White
 1237    Married-civ-spouse               Sales   Other-relative   White
 ...                    ...                 ...              ...     ...
 30841   Married-civ-spouse    Transport-moving          Husband   White
 30892            Separated   Machine-op-inspct   Other-relative   White
 30906   Married-civ-spouse     Farming-fishing   Other-relative   White
 31149   Married-civ-spouse     Exec-managerial          Husband   White
 31907   Married-civ-spouse      Prof-specialty          Husband   White

            sex  capital-gain  capital-loss  hours-per-week native-country  \
 4       Female             0             0              40           Cuba
 81        Male             0             0              40           Cuba
 638       Male             0             0              50           Cuba
 701     Female             0          1380              40           Cuba
 1237    Female             0             0              40           Cuba
 ...        ...           ...           ...             ...            ...
 30841     Male             0             0              40           Cuba
 30892   Female             0             0              40           Cuba
 30906     Male             0             0              40           Cuba
 31149     Male             0          1902              60           Cuba
 31907     Male             0             0              40           Cuba

         <=50K
 4       <=50K
 81      <=50K
 638     <=50K
 701     <=50K
 1237    <=50K
 ...       ...
 30841   <=50K
 30892   <=50K
 30906   <=50K
 31149    >50K
 31907    >50K

 [95 rows x 15 columns],
 ' Jamaica':        age workclass  fnlwgt      education  education-num  \
 6       49   Private  160187            9th              5
 706     40   Private  229148           12th              8
 1135    31   Private  184307   Some-college             10
 1570    19         ?   62534      Bachelors             13
 2006    57   Private  185072   Some-college             10
 ...    ...       ...     ...            ...            ...
 30863   46   Private  169324        HS-grad              9
 31033   55   Private  132887        HS-grad              9
 31038   33   Private  202642      Bachelors             13
 31954   34   Private  111589           10th              6
 32229   22   Private  254547   Some-college             10

                marital-status         occupation     relationship    race  \
 6       Married-spouse-absent      Other-service    Not-in-family   Black
 706        Married-civ-spouse      Other-service          Husband   Black
 1135       Married-civ-spouse    Exec-managerial          Husband   White
 1570            Never-married                  ?        Own-child   Black
 2006            Never-married       Adm-clerical   Other-relative   Black
 ...                       ...                ...              ...     ...
 30863               Separated      Other-service    Not-in-family   Black
 31033      Married-civ-spouse   Transport-moving          Husband   Black
 31038               Separated     Prof-specialty   Other-relative   Black
 31954           Never-married      Other-service        Unmarried   Black
 32229           Never-married    Exec-managerial        Unmarried   Black

            sex  capital-gain  capital-loss  hours-per-week native-country  \
 6       Female             0             0              16        Jamaica
 706       Male             0             0              40        Jamaica
 1135      Male             0             0              50        Jamaica
 1570    Female             0             0              40        Jamaica
 2006    Female             0             0              40        Jamaica
 ...        ...           ...           ...             ...            ...
 30863   Female             0             0              45        Jamaica
 31033     Male          3411             0              40        Jamaica
 31038   Female             0             0              40        Jamaica
 31954   Female             0             0              40        Jamaica
 32229   Female             0             0              40        Jamaica

         <=50K
 6       <=50K
 706     <=50K
 1135     >50K
 1570    <=50K
 2006    <=50K
 ...       ...
 30863   <=50K
 31033   <=50K
 31038   <=50K
 31954   <=50K
 32229   <=50K

 [81 rows x 15 columns],
 ' India':        age          workclass  fnlwgt    education  education-num  \
 11      30          State-gov  141297    Bachelors             13
 892     28            Private  164170    Assoc-voc             11
 968     48            Private  164966    Bachelors             13
 1029    48       Self-emp-inc  138370      Masters             14
 1095    22   Self-emp-not-inc  361280    Bachelors             13
 ...    ...                ...     ...          ...            ...
 30152   48            Private  119471    Doctorate             16
 30833   25            Private  110978   Assoc-acdm             12
 30871   26            Private  160261      Masters             14
 31327   38          State-gov  125499    Bachelors             13
 31357   23            Private  143003      Masters             14

                marital-status        occupation    relationship  \
 11         Married-civ-spouse    Prof-specialty         Husband
 892        Married-civ-spouse      Adm-clerical            Wife
 968        Married-civ-spouse   Exec-managerial         Husband
 1029    Married-spouse-absent             Sales   Not-in-family
 1095            Never-married    Prof-specialty       Own-child
 ...                       ...               ...             ...
 30152      Married-civ-spouse    Prof-specialty         Husband
 30833      Married-civ-spouse      Adm-clerical            Wife
 30871           Never-married    Prof-specialty   Not-in-family
 31327      Married-civ-spouse    Prof-specialty         Husband
 31357      Married-civ-spouse    Prof-specialty         Husband

                       race      sex  capital-gain  capital-loss  \
 11      Asian-Pac-Islander     Male             0             0
 892     Asian-Pac-Islander   Female             0             0
 968     Asian-Pac-Islander     Male             0             0
 1029    Asian-Pac-Islander     Male             0             0
 1095    Asian-Pac-Islander     Male             0             0
 ...                    ...      ...           ...           ...
 30152   Asian-Pac-Islander     Male             0             0
 30833   Asian-Pac-Islander   Female             0             0
 30871   Asian-Pac-Islander     Male             0             0
 31327   Asian-Pac-Islander     Male          7688             0
 31357   Asian-Pac-Islander     Male             0          1887

        hours-per-week native-country   <=50K
 11                 40          India    >50K
 892                40          India   <=50K
 968                40          India    >50K
 1029               50          India   <=50K
 1095               20          India   <=50K
 ...               ...            ...     ...
 30152              40          India    >50K
 30833              37          India    >50K
 30871              20          India   <=50K
 31327              60          India    >50K
 31357              50          India    >50K

 [100 rows x 15 columns],
 ' Mexico':        age   workclass  fnlwgt      education  education-num  \
 15      34     Private  245487        7th-8th              4
 56      46     Private  216666        5th-6th              3
 75      27     Private  213921        HS-grad              9
 142     19     Private  316868   Some-college             10
 150     47   Local-gov  186009   Some-college             10
 ...    ...         ...     ...            ...            ...
 32332   26     Private  233777        HS-grad              9
 32334   24     Private  176580        5th-6th              3
 32425   23     Private  180771        1st-4th              2
 32432   36     Private  208068      Preschool              1
 32547   43     Private  260761        HS-grad              9

                marital-status          occupation    relationship  \
 15         Married-civ-spouse    Transport-moving         Husband
 56         Married-civ-spouse   Machine-op-inspct         Husband
 75              Never-married       Other-service       Own-child
 142             Never-married       Other-service       Own-child
 150                  Divorced        Adm-clerical       Unmarried
 ...                       ...                 ...             ...
 32332      Married-civ-spouse        Craft-repair         Husband
 32334   Married-spouse-absent     Farming-fishing   Not-in-family
 32425      Married-civ-spouse   Machine-op-inspct            Wife
 32432                Divorced       Other-service   Not-in-family
 32547      Married-civ-spouse   Machine-op-inspct         Husband

                       race      sex  capital-gain  capital-loss  \
 15      Amer-Indian-Eskimo     Male             0             0
 56                   White     Male             0             0
 75                   White     Male             0             0
 142                  White     Male             0             0
 150                  White   Female             0             0
 ...                    ...      ...           ...           ...
 32332                White     Male             0             0
 32334                White     Male             0             0
 32425   Amer-Indian-Eskimo   Female             0             0
 32432                Other     Male             0             0
 32547                White     Male             0             0

        hours-per-week native-country   <=50K
 15                 45         Mexico   <=50K
 56                 40         Mexico   <=50K
 75                 40         Mexico   <=50K
 142                30         Mexico   <=50K
 150                38         Mexico   <=50K
 ...               ...            ...     ...
 32332              72         Mexico   <=50K
 32334              40         Mexico   <=50K
 32425              35         Mexico   <=50K
 32432              72         Mexico   <=50K
 32547              40         Mexico   <=50K

 [643 rows x 15 columns],
 ' South':        age          workclass  fnlwgt      education  education-num  \
 27      54                  ?  180211   Some-college             10
 668     20                  ?  114746           11th              7
 916     43            Private  158926        Masters             14
 1969    45   Self-emp-not-inc  133969        HS-grad              9
 2208    34   Self-emp-not-inc  306982      Bachelors             13
 ...    ...                ...     ...            ...            ...
 29488   36            Private  162312        HS-grad              9
 30347   39   Self-emp-not-inc  191342      Bachelors             13
 30533   50   Self-emp-not-inc  131982        HS-grad              9
 31302   60            Private   85995        Masters             14
 31751   22                  ?  148955   Some-college             10

                marital-status        occupation    relationship  \
 27         Married-civ-spouse                 ?         Husband
 668     Married-spouse-absent                 ?       Own-child
 916        Married-civ-spouse    Prof-specialty            Wife
 1969       Married-civ-spouse             Sales         Husband
 2208       Married-civ-spouse             Sales         Husband
 ...                       ...               ...             ...
 29488           Never-married      Craft-repair   Not-in-family
 30347      Married-civ-spouse   Exec-managerial         Husband
 30533      Married-civ-spouse     Other-service         Husband
 31302      Married-civ-spouse      Adm-clerical         Husband
 31751           Never-married                 ?       Own-child

                       race      sex  capital-gain  capital-loss  \
 27      Asian-Pac-Islander     Male             0             0
 668     Asian-Pac-Islander   Female             0          1762
 916     Asian-Pac-Islander   Female             0             0
 1969    Asian-Pac-Islander     Male             0             0
 2208    Asian-Pac-Islander     Male             0             0
 ...                    ...      ...           ...           ...
 29488   Asian-Pac-Islander     Male             0             0
 30347   Asian-Pac-Islander     Male             0             0
 30533   Asian-Pac-Islander     Male             0             0
 31302   Asian-Pac-Islander     Male             0             0
 31751   Asian-Pac-Islander   Female             0             0

        hours-per-week native-country   <=50K
 27                 60          South    >50K
 668                40          South   <=50K
 916                50          South   <=50K
 1969               50          South    >50K
 2208               60          South   <=50K
 ...               ...            ...     ...
 29488              70          South   <=50K
 30347              50          South   <=50K
 30533              60          South   <=50K
 31302              50          South    >50K
 31751              15          South   <=50K

 [80 rows x 15 columns],
 ' Puerto-Rico':        age workclass  fnlwgt      education  education-num  \
 35      48   Private  242406           11th              7
 57      35   Private   56352      Assoc-voc             11
 404     28   Private  166481        7th-8th              4
 530     44   Private  109339           11th              7
 1789    66   Private  142723        5th-6th              3
 ...    ...       ...     ...            ...            ...
 28715   57         ?  202903        7th-8th              4
 29015   35   Private  194960        HS-grad              9
 29647   42   Private  251239   Some-college             10
 30299   42   Private  152676        7th-8th              4
 31057   33   Private  256062   Some-college             10

                marital-status          occupation    relationship    race  \
 35              Never-married   Machine-op-inspct       Unmarried   White
 57         Married-civ-spouse       Other-service         Husband   White
 404        Married-civ-spouse   Handlers-cleaners         Husband   Other
 530                  Divorced   Machine-op-inspct       Unmarried   Other
 1789    Married-spouse-absent   Handlers-cleaners       Unmarried   White
 ...                       ...                 ...             ...     ...
 28715      Married-civ-spouse                   ?            Wife   White
 29015           Never-married     Farming-fishing   Not-in-family   Other
 29647      Married-civ-spouse     Exec-managerial         Husband   White
 30299                Divorced        Craft-repair       Unmarried   White
 31057           Never-married        Adm-clerical       Unmarried   White

            sex  capital-gain  capital-loss  hours-per-week native-country  \
 35        Male             0             0              40    Puerto-Rico
 57        Male             0             0              40    Puerto-Rico
 404       Male             0          2179              40    Puerto-Rico
 530     Female             0             0              46    Puerto-Rico
 1789    Female             0             0              40    Puerto-Rico
 ...        ...           ...           ...             ...            ...
 28715   Female          1173             0              45    Puerto-Rico
 29015     Male             0             0              40    Puerto-Rico
 29647     Male             0             0              40    Puerto-Rico
 30299     Male             0             0              40    Puerto-Rico
 31057   Female             0             0              35    Puerto-Rico

         <=50K
 35      <=50K
 57      <=50K
 404     <=50K
 530     <=50K
 1789    <=50K
 ...       ...
 28715   <=50K
 29015   <=50K
 29647   <=50K
 30299   <=50K
 31057   <=50K


<h4>Sex</h4>

In [11]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [12]:
no_of_males = (df['sex'] == " Male").sum()
no_of_females = (df['sex'] == " Female").sum()

print(f"No of Males: {no_of_males}")
print(f"No of Females: {no_of_females}")

No of Males: 21370
No of Females: 10608

In [13]:
males_df = df[df['sex'] == " Male"]
females_df = df[df['sex'] == " Female"]

<h4>Race</h4>

In [14]:
races = df['race'].unique()
races

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [15]:
race_dfs = []

for race in races:
    race_dfs.append(df[df['race'] == race])

In [16]:
race_dfs_dict = dict(zip(races, race_dfs))
race_dfs_dict

{' White':        age          workclass  fnlwgt    education  education-num  \
 0       39          State-gov   77516    Bachelors             13
 1       50   Self-emp-not-inc   83311    Bachelors             13
 2       38            Private  215646      HS-grad              9
 5       37            Private  284582      Masters             14
 7       52   Self-emp-not-inc  209642      HS-grad              9
 ...    ...                ...     ...          ...            ...
 32556   27            Private  257302   Assoc-acdm             12
 32557   40            Private  154374      HS-grad              9
 32558   58            Private  151910      HS-grad              9
 32559   22            Private  201490      HS-grad              9
 32560   52       Self-emp-inc  287927      HS-grad              9

             marital-status          occupation    relationship    race  \
 0            Never-married        Adm-clerical   Not-in-family   White
 1       Married-civ-spouse     Exec-managerial         Husband   White
 2                 Divorced   Handlers-cleaners   Not-in-family   White
 5       Married-civ-spouse     Exec-managerial            Wife   White
 7       Married-civ-spouse     Exec-managerial         Husband   White
 ...                    ...                 ...             ...     ...
 32556   Married-civ-spouse        Tech-support            Wife   White
 32557   Married-civ-spouse   Machine-op-inspct         Husband   White
 32558              Widowed        Adm-clerical       Unmarried   White
 32559        Never-married        Adm-clerical       Own-child   White
 32560   Married-civ-spouse     Exec-managerial            Wife   White

            sex  capital-gain  capital-loss  hours-per-week  native-country  \
 0         Male          2174             0              40   United-States
 1         Male             0             0              13   United-States
 2         Male             0             0              40   United-States
 5       Female             0             0              40   United-States
 7         Male             0             0              45   United-States
 ...        ...           ...           ...             ...             ...
 32556   Female             0             0              38   United-States
 32557     Male             0             0              40   United-States
 32558   Female             0             0              40   United-States
 32559     Male             0             0              20   United-States
 32560   Female         15024             0              40   United-States

         <=50K
 0       <=50K
 1       <=50K
 2       <=50K
 5       <=50K
 7        >50K
 ...       ...
 32556   <=50K
 32557    >50K
 32558   <=50K
 32559   <=50K
 32560    >50K

 [27430 rows x 15 columns],
 ' Black':        age workclass  fnlwgt      education  education-num  \
 3       53   Private  234721           11th              7
 4       28   Private  338409      Bachelors             13
 6       49   Private  160187            9th              5
 10      37   Private  280464   Some-college             10
 13      32   Private  205019     Assoc-acdm             12
 ...    ...       ...     ...            ...            ...
 32521   33   Private  273243        HS-grad              9
 32535   22   Private  325033           12th              8
 32537   30   Private  345898        HS-grad              9
 32538   38   Private  139180      Bachelors             13
 32541   41         ?  202822        HS-grad              9

                marital-status          occupation    relationship    race  \
 3          Married-civ-spouse   Handlers-cleaners         Husband   Black
 4          Married-civ-spouse      Prof-specialty            Wife   Black
 6       Married-spouse-absent       Other-service   Not-in-family   Black
 10         Married-civ-spouse     Exec-managerial         Husband   Black
 13              Never-married               Sales   Not-in-family   Black
 ...                       ...                 ...             ...     ...
 32521      Married-civ-spouse        Craft-repair         Husband   Black
 32535           Never-married     Protective-serv       Own-child   Black
 32537           Never-married        Craft-repair   Not-in-family   Black
 32538                Divorced      Prof-specialty       Unmarried   Black
 32541               Separated                   ?   Not-in-family   Black

            sex  capital-gain  capital-loss  hours-per-week  native-country  \
 3         Male             0             0              40   United-States
 4       Female             0             0              40            Cuba
 6       Female             0             0              16         Jamaica
 10        Male             0             0              80   United-States
 13        Male             0             0              50   United-States
 ...        ...           ...           ...             ...             ...
 32521     Male             0             0              40   United-States
 32535     Male             0             0              35   United-States
 32537     Male             0             0              46   United-States
 32538   Female         15020             0              45   United-States
 32541   Female             0             0              32   United-States

         <=50K
 3       <=50K
 4       <=50K
 6       <=50K
 10       >50K
 13      <=50K
 ...       ...
 32521   <=50K
 32535   <=50K
 32537   <=50K
 32538    >50K
 32541   <=50K

 [3028 rows x 15 columns],
 ' Asian-Pac-Islander':        age      workclass  fnlwgt      education  education-num  \
 11      30      State-gov  141297      Bachelors             13
 27      54              ?  180211   Some-college             10
 139     49        Private   81973   Some-college             10
 152     33        Private  163003      Bachelors             13
 162     44   Self-emp-inc   78374        Masters             14
 ...    ...            ...     ...            ...            ...
 32457   33        Private  139057        Masters             14
 32486   24        Private  216984   Some-college             10
 32531   30              ?   33811      Bachelors             13
 32533   54        Private  337992      Bachelors             13
 32553   32        Private  116138        Masters             14

             marital-status        occupation     relationship  \
 11      Married-civ-spouse    Prof-specialty          Husband
 27      Married-civ-spouse                 ?          Husband
 139     Married-civ-spouse      Craft-repair          Husband
 152          Never-married   Exec-managerial   Other-relative
 162               Divorced   Exec-managerial        Unmarried
 ...                    ...               ...              ...
 32457   Married-civ-spouse      Tech-support          Husband
 32486   Married-civ-spouse     Other-service        Own-child
 32531        Never-married                 ?    Not-in-family
 32533   Married-civ-spouse   Exec-managerial          Husband
 32553        Never-married      Tech-support    Not-in-family

                       race      sex  capital-gain  capital-loss  \
 11      Asian-Pac-Islander     Male             0             0
 27      Asian-Pac-Islander     Male             0             0
 139     Asian-Pac-Islander     Male             0             0
 152     Asian-Pac-Islander   Female             0             0
 162     Asian-Pac-Islander   Female             0             0
 ...                    ...      ...           ...           ...
 32457   Asian-Pac-Islander     Male             0             0
 32486   Asian-Pac-Islander   Female             0             0
 32531   Asian-Pac-Islander   Female             0             0
 32533   Asian-Pac-Islander     Male             0             0
 32553   Asian-Pac-Islander     Male             0             0

        hours-per-week  native-country   <=50K
 11                 40           India    >50K
 27                 60           South    >50K
 139                40   United-States    >50K
 152                40     Philippines   <=50K
 162                40   United-States   <=50K
 ...               ...             ...     ...
 32457              50   United-States    >50K
 32486              35   United-States   <=50K
 32531              99   United-States   <=50K
 32533              50           Japan    >50K
 32553              11          Taiwan   <=50K

 [956 rows x 15 columns],
 ' Amer-Indian-Eskimo':        age workclass  fnlwgt      education  education-num  \
 15      34   Private  245487        7th-8th              4
 212     35   Private  153790   Some-college             10
 226     60         ?   24215           10th              6
 447     51   Private   56915        HS-grad              9
 516     25   Private  267044   Some-college             10
 ...    ...       ...     ...            ...            ...
 32231   44   Private   33105        HS-grad              9
 32242   33   Private  356015        HS-grad              9
 32249   35   Private   91839      Bachelors             13
 32425   23   Private  180771        1st-4th              2
 32551   32   Private   34066           10th              6

             marital-status          occupation    relationship  \
 15      Married-civ-spouse    Transport-moving         Husband
 212          Never-married               Sales   Not-in-family
 226               Divorced                   ?   Not-in-family
 447     Married-civ-spouse        Craft-repair         Husband
 516          Never-married        Adm-clerical   Not-in-family
 ...                    ...                 ...             ...
 32231   Married-civ-spouse     Exec-managerial         Husband
 32242            Separated        Craft-repair   Not-in-family
 32249   Married-civ-spouse       Other-service         Husband
 32425   Married-civ-spouse   Machine-op-inspct            Wife
 32551   Married-civ-spouse   Handlers-cleaners         Husband

                       race      sex  capital-gain  capital-loss  \
 15      Amer-Indian-Eskimo     Male             0             0
 212     Amer-Indian-Eskimo   Female             0             0
 226     Amer-Indian-Eskimo   Female             0             0
 447     Amer-Indian-Eskimo     Male             0             0
 516     Amer-Indian-Eskimo   Female             0             0
 ...                    ...      ...           ...           ...
 32231   Amer-Indian-Eskimo     Male             0             0
 32242   Amer-Indian-Eskimo     Male             0             0
 32249   Amer-Indian-Eskimo     Male          7688             0
 32425   Amer-Indian-Eskimo   Female             0             0
 32551   Amer-Indian-Eskimo     Male             0             0

        hours-per-week  native-country   <=50K
 15                 45          Mexico   <=50K
 212                40   United-States   <=50K
 226                10   United-States   <=50K
 447                40   United-States   <=50K
 516                20   United-States   <=50K
 ...               ...             ...     ...
 32231              40   United-States   <=50K
 32242              35            Hong   <=50K
 32249              20   United-States    >50K
 32425              35          Mexico   <=50K
 32551              40   United-States   <=50K

 [311 rows x 15 columns],
 ' Other':        age workclass  fnlwgt      education  education-num  \
 50      25   Private   32275   Some-college             10
 233     33   Private  110978   Some-college             10
 356     65   Private  161400           11th              7
 404     28   Private  166481        7th-8th              4
 530     44   Private  109339           11th              7
 ...    ...       ...     ...            ...            ...
 32021   46   Private  211226     Assoc-acdm             12
 32075   27         ?  147638        Masters             14
 32263   27   Private  176761        HS-grad              9
 32432   36   Private  208068      Preschool              1
 32544   31   Private  199655        Masters             14

             marital-status          occupation     relationship    race  \
 50      Married-civ-spouse     Exec-managerial             Wife   Other
 233               Divorced        Craft-repair   Other-relative   Other
 356                Widowed       Other-service        Unmarried   Other
 404     Married-civ-spouse   Handlers-cleaners          Husband   Other
 530               Divorced   Machine-op-inspct        Unmarried   Other
 ...                    ...                 ...              ...     ...
 32021   Married-civ-spouse    Transport-moving          Husband   Other
 32075        Never-married                   ?    Not-in-family   Other
 32263        Never-married        Craft-repair   Other-relative   Other
 32432             Divorced       Other-service    Not-in-family   Other
 32544             Divorced       Other-service    Not-in-family   Other

            sex  capital-gain  capital-loss  hours-per-week  native-country  \
 50      Female             0             0              40   United-States
 233     Female             0             0              40   United-States
 356       Male             0             0              40   United-States
 404       Male             0          2179              40     Puerto-Rico
 530     Female             0             0              46     Puerto-Rico
 ...        ...           ...           ...             ...             ...
 32021     Male             0             0              36   United-States
 32075   Female             0             0              40           Japan
 32263     Male             0             0              40       Nicaragua
 32432     Male             0             0              72          Mexico
 32544   Female             0             0              30   United-States

         <=50K
 50      <=50K
 233     <=50K
 356     <=50K
 404     <=50K
 530     <=50K
 ...       ...
 32021   <=50K
 32075   <=50K
 32263   <=50K
 32432   <=50K
 32544   <=50K

 [253 rows x 15 columns]}

<h3>2. Merge two subsets (all people who are from USA or are white)</h3>

In [17]:
usa_or_white_fd = pd.concat([country_dfs_dict[' United-States'], race_dfs_dict[' White']])

In [18]:
usa_or_white_fd

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

<h3>3. Sort Data using age</h3>

In [19]:
sorted_df = df.sort_values(by='age', ascending=False)

In [20]:
sorted_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
18413,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
14159,90,Local-gov,187749,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
2891,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31439,17,Private,375657,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,30,United-States,<=50K
23881,17,Private,178953,12th,8,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
15542,17,?,112942,10th,6,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
23828,17,Private,82041,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,Canada,<=50K
27502,17,Private,277583,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K

<h3>4. Transposing Data</h3>

In [21]:
transposed_df = df.transpose()

In [22]:
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,32551,32552,32553,32554,32555,32556,32557,32558,32559,32560
age,39,50,38,53,28,37,49,52,31,42,...,32,43,32,53,22,27,40,58,22,52
workclass,State-gov,Self-emp-not-inc,Private,Private,Private,Private,Private,Self-emp-not-inc,Private,Private,...,Private,Private,Private,Private,Private,Private,Private,Private,Private,Self-emp-inc
fnlwgt,77516,83311,215646,234721,338409,284582,160187,209642,45781,159449,...,34066,84661,116138,321865,310152,257302,154374,151910,201490,287927
education,Bachelors,Bachelors,HS-grad,11th,Bachelors,Masters,9th,HS-grad,Masters,Bachelors,...,10th,Assoc-voc,Masters,Masters,Some-college,Assoc-acdm,HS-grad,HS-grad,HS-grad,HS-grad
education-num,13,13,9,7,13,14,5,9,14,13,...,6,11,14,14,10,12,9,9,9,9
marital-status,Never-married,Married-civ-spouse,Divorced,Married-civ-spouse,Married-civ-spouse,Married-civ-spouse,Married-spouse-absent,Married-civ-spouse,Never-married,Married-civ-spouse,...,Married-civ-spouse,Married-civ-spouse,Never-married,Married-civ-spouse,Never-married,Married-civ-spouse,Married-civ-spouse,Widowed,Never-married,Married-civ-spouse
occupation,Adm-clerical,Exec-managerial,Handlers-cleaners,Handlers-cleaners,Prof-specialty,Exec-managerial,Other-service,Exec-managerial,Prof-specialty,Exec-managerial,...,Handlers-cleaners,Sales,Tech-support,Exec-managerial,Protective-serv,Tech-support,Machine-op-inspct,Adm-clerical,Adm-clerical,Exec-managerial
relationship,Not-in-family,Husband,Not-in-family,Husband,Wife,Wife,Not-in-family,Husband,Not-in-family,Husband,...,Husband,Husband,Not-in-family,Husband,Not-in-family,Wife,Husband,Unmarried,Own-child,Wife
race,White,White,White,Black,Black,White,Black,White,White,White,...,Amer-Indian-Eskimo,White,Asian-Pac-Islander,White,White,White,White,White,White,White
sex,Male,Male,Male,Male,Female,Female,Female,Male,Female,Male,...,Male,Male,Male,Male,Male,Female,Male,Female,Male,Female
capital-gain,2174,0,0,0,0,0,0,0,14084,5178,...,0,0,0,0,0,0,0,0,0,15024
capital-loss,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hours-per-week,40,13,40,40,40,40,16,45,50,40,...,40,45,11,40,40,38,40,40,20,40
native-country,United-States,United-States,United-States,United-States,Cuba,United-States,Jamaica,United-States,United-States,United-States,...,United-States,United-States,Taiwan,United-States,United-States,United-States,United-States,United-States,United-States,United-States
<=50K,<=50K,<=50K,<=50K,<=50K,<=50K,<=50K,<=50K,>50K,>50K,>50K,...,<=50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K

<h3>5. Melting data into long format</h3>

In [23]:
melted_df = pd.melt(df, id_vars=['race'])
melted_df

          race variable   value
0        White      age      39
1        White      age      50
2        White      age      38
3        Black      age      53
4        Black      age      28
...        ...      ...     ...
447687   White    <=50K   <=50K
447688   White    <=50K    >50K
447689   White    <=50K   <=50K
447690   White    <=50K   <=50K
447691   White    <=50K    >50K

[447692 rows x 3 columns]

<h3>6. Casting data into wide format</h3>

In [24]:
temp_df = df.iloc[[0,3,11,15,50], :]
temp_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K

In [25]:
pivoted_df = temp_df.pivot(index="race", columns='fnlwgt')
pivoted_df

                       age                               workclass  \
fnlwgt              77516  141297 176756 234721 251585      77516
race
 Asian-Pac-Islander    NaN   30.0    NaN    NaN    NaN         NaN
 Black                 NaN    NaN    NaN   53.0    NaN         NaN
 White                39.0    NaN   25.0    NaN   50.0   State-gov

                                                                            \
fnlwgt                   141297             176756    234721        251585
race
 Asian-Pac-Islander   State-gov                NaN       NaN           NaN
 Black                      NaN                NaN   Private           NaN
 White                      NaN   Self-emp-not-inc       NaN   Federal-gov

                     ...  native-country                          \
fnlwgt               ...          77516   141297          176756
race                 ...
 Asian-Pac-Islander  ...             NaN   India             NaN
 Black               ...             NaN     NaN             NaN
 White               ...   United-States     NaN   United-States

                                                      <=50K                 \
fnlwgt                       234721          251585  77516  141297  176756
race
 Asian-Pac-Islander             NaN             NaN     NaN   >50K     NaN
 Black                United-States             NaN     NaN    NaN     NaN
 White                          NaN   United-States   <=50K    NaN   <=50K


fnlwgt               234721 251585
race
 Asian-Pac-Islander     NaN    NaN
 Black                <=50K    NaN
 White                  NaN   >50K

[3 rows x 65 columns]